.footer {
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 8.5vh;
    background: #fff;
    border-top: 0.05rem solid #ddd;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 111111
}

.footer_item img {
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    margin: auto;
    margin-bottom: 0.3rem;
}

.footer_item {
    line-height: 1;
    text-align: center;
    font-size: 0.8rem;
    color: #999;
    font-weight: 400;
}

.activ {
    color: #d48912;
}